.form-container {
  width: 1140px;
  height: 700px;
  background-color: #f3f3f3;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 130px;
}
.form-container div input {
  width: 461px;
  height: 60px;
  margin: 24px 0 0 0;
}
/* .form-container div {
  padding-top: 97px;
} */
.textarea {
  width: 940px;
  height: 250px;
  /* margin-left: 90px; */
  margin-top: 24px;
}
.submit-btn {
  width: 946px !important;
  height: 50px !important;
  border-radius: 10px;
  margin-top: 24px;
  background-color: #ff3811 !important;
  color: white;
  margin-left: 90px;
  cursor: pointer;
}
