.info-container {
  background-color: #151515;
  height: 250px;
  margin: 120px 0px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.info-container div img {
  width: 40.86px;
  height: 40.86px;
  margin-right: 20px;
}
